@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";

body{
    font-family: "JetBrains Mono", monospace;
    background: #3e4043; 
    background: -webkit-linear-gradient(to left, #4286f4, #3e4043);  
    background: linear-gradient(to left, #4286f4, #3e4043); 
    color: white;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-size: 16px;
}

.source_code_pro{
   font-family: "Source Code Pro", monospace;
}

.bruno-ace-sc-regular {
  font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes slideBar {
    0% {
      top: 10%;
      box-shadow: 0 0 5px #dd1818, 0 0 15px #dd1818, 0 0 25px #dd1818;
    }
    50%{
      top: 90%;
      box-shadow: 0 0 20px #dd1818, 0 0 40px #dd1818, 0 0 60px #dd1818;
    }
    100% {
      top: 10%;
      box-shadow: 0 0 5px #dd1818, 0 0 15px #dd1818, 0 0 25px #dd1818;
    }
}

.animate-slideBar {
   animation: slideBar 6s linear infinite;
}


@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 6s linear infinite;
}


::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
