@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import "tailwindcss";

body{
    font-family: "JetBrains Mono", monospace;
    /* background: #373B44; 
    background: -webkit-linear-gradient(to left, #4286f4, #373B44);  
    background: linear-gradient(to left, #4286f4, #373B44);  */
    background: #333333;
    background: -webkit-linear-gradient(to left, #dd1818, #333333); 
    background: linear-gradient(to left, #dd1818, #333333); 
    color: white;
    padding: 0;
    margin: 0;
}

.rock-salt{
    font-family: "Rock Salt", cursive;
    font-weight: 400;
}

.bruno-ace-sc-regular {
  font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes slideBar {
    0% {
      top: 10%;
      box-shadow: 0 0 5px #dd1818, 0 0 15px #dd1818, 0 0 25px #dd1818;
    }
    50%{
      top: 90%;
      box-shadow: 0 0 20px #dd1818, 0 0 40px #dd1818, 0 0 60px #dd1818;
    }
    100% {
      top: 10%;
      box-shadow: 0 0 5px #dd1818, 0 0 15px #dd1818, 0 0 25px #dd1818;
    }
}

.animate-slideBar {
   animation: slideBar 6s linear infinite;
}


@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 6s linear infinite;
}
